* {
  font-family: sans-serif, Arial;
}

html,
body {
  background: #eee9da;
  margin: 20px;
  color: #3e4144;
}

dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 15px;
  border: 0px;
  color: white;
  cursor: alias;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

.p-1 {
  padding: 1px;
}
